:root {
  --first-color: #42b883;
  --second-color: #347474;
  --third-color: #35495e;
  --fourth-color: #ff7e67;
  --box-shadow: 5px 5px 5px rgb(122, 131, 141);
  --font-size: 15px;
}
.App {
  font-family: monospace;
  color: var(--fourth-color);
  max-width: 600px;
  margin:40px auto;
}

body {
  background: linear-gradient(90.2deg, var(--second-color), var(--third-color));
}
