.Footer {
  margin-top: 25px;
  padding: 15px;
  border: 2pt solid;
  color: var(--second-color);
  border-radius: 10pt;
  background-color: var(--second-color);
  box-shadow: var(--box-shadow);
  max-width: fit-content;
}
.Footer p {
  font-size: 0.7em;
  color: var(--first-color);
  margin: 0;
}
.Footer .github-color {
  color: var(--fourth-color);
}
@media (max-width: 576px) {
  .Footer {
  display:flex;
  justify-content: center;
  margin: 20px auto;
  }
}
