.Form {
  margin: 2px;
  padding: 15px 15px 35px;
  border: 2pt solid;
  color: var(--first-color);
  border-radius: 10pt;
  background-color: var(--first-color);
  box-shadow: var(--box-shadow);
}
input {
  font-family: inherit;
  font-size: 15px;
  color: var(--fourth-color);
  background-color: var(--second-color);
  border-radius: 5pt;
  border: 5pt;
  padding: 5pt;

}
input::placeholder {
  color: var(--fourth-color);
}
input:focus-visible {
  outline: 10px;
  color: #ff7e67;
}
.form-width{
  margin-right:25pt;
  max-width: fit-content;
}
