.Form {
  margin: 2px;
  padding: 15px 15px 35px;
  border: 2px solid;
  color: var(--first-color);
  border-radius: 10px;
  background-color: var(--first-color);
  box-shadow: var(--box-shadow);
  display:inline-block;
}
input {
  font-family: inherit;
  font-size: 15px;
  color: var(--fourth-color);
  background-color: var(--second-color);
  border-radius: 5px;
  border: 5px;
  padding: 5px;

}
input::placeholder {
  color: var(--fourth-color);
}
input:focus-visible {
  outline: 10px;
  color: #ff7e67;
}
.input-search{
  margin-right:100px;
  width:100px;
}
.input-submit{
 margin:40px;
}
