.TemperatureConversion {
  padding-bottom: 20px;
}
.temperature-today {
  font-size: 60px;
  display: inline-block;
  line-height: 60px;
}
.temperature-unit {
  font-size: 20px;
  color: var(--fourth-color);
}
a:link {
  color: var(--first-color);
  text-decoration: none;
  cursor: grab;
  font-weight:900px;
}
a:visited {
  color: var(--third-color);
}

a:hover:visited {
  color: var(--first-color);
}
@media (max-width: 576px) {
  .TemperatureConversion {
    text-align: center;
  }
}
