.Weather {
  margin-top: 25px;
  padding: 15px;
  border: 2pt solid var(--third-color);
  color: var(--fourth-color);
  border-radius: 10pt;
  background-color: var(--third-color);
  box-shadow: var(--box-shadow);
  font-family: inherit;
  font-size: var(--font-size);
  display: inline-block;
}

.Weather li {
  list-style-type: none;
  font-size: 10px;
}

.Weather ul {
  margin: 0;
  text-align: left;
  padding-left: 0px;
}

.temperature-unit {
  font-size: 20px;
  color: var(--first-color);
}

.temperature-today {
  font-size: 60px;
  display: inline-block;
  line-height: 60px;
}

.weather-properties {
  color: var(--first-color);
}

.temperature-today-celsius {
  display: flex;
  padding-bottom: 20px;
}
