.Weather {
  padding: 15px;
  border: 2pt solid var(--third-color);
  color: var(--fourth-color);
  border-radius: 10pt;
  background-color: var(--third-color);
  box-shadow: var(--box-shadow);
  font-size: var(--font-size);
}

.Weather li {
  list-style-type: none;
  font-size: 11px;
}

.Weather ul {
  margin: 0;
  text-align: left;
  padding-left: 0px;
}
.DateNow{
  color: var(--first-color);
  font-size: 15px;
}
.PlaceNow{
  font-size: 25px;
}

.weather-properties {
  color: var(--first-color);
}

